{% extends 'base.html' %}
{% load staticfiles %}
{% load math %}
{% block title %}
	Proveedores
{% endblock %}

{% block active_proveedores %}active{% endblock %}

{% block content %}
	
	<form class="form-row">
		<div class="col">
			<a href="{% url 'proveedores:nuevo' %}" class="btn btn-lg btn-primary index">Nuevo Proveedor</a>
			</div>
		<div class="col">
		  <label for="buscarProveedor"></label>
		  <input type="text" placeholder="Buscar proveedor..." class="form-control" id="buscarProveedor">
		</div>
	</form>

	<br>
	<table class="table" style="margin-top: 3em;">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Email</th>
					<th scope="col">Comentario</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
        {% for proveedor in proveedores %}
		    
		        <tr>
		        <td>{{ proveedor.nombre}}</td>
		        <td>{{ proveedor.telefono }}</td>
		        <td>{{ proveedor.mail }}</td>
		        <td>{{ proveedor.comentario }}</td>
		        <td><a class="btn btn-default" href="{% url 'proveedores:editar_proveedor' pk=proveedor.idProveedor %}">
		        	<img src="{% static 'img/edit.png' %}" style="width: 10%;"></a>
		        </td>
		        <td><a class="btn btn-default" href="{% url 'proveedores:eliminar_proveedor' pk=proveedor.idProveedor %}">
		        	<img src="{% static 'img/borrar.png' %}" style="width: 10%;"></a>
		        </td>

		        </tr>
		    
		{% endfor %}
		</tbody>
		</table>

	<div class="pagination">
    	<span class="step-links">
	    	<!--primera pagina-->
	    	{% if proveedores.number != 1 %}
	            <a role="button" class="btn btn-outline-primary" href="?page=1">1</a>
	    	{% endif %}
	        <!--fin primera pagina-->	

	        <!--puntos suspensivos cuando son mas paginas para mostrar-->
			{% if proveedores.paginator.num_pages > 3 and proveedores.number|add:"-1" > 2 %}
				<button class="btn btn-outline-primary" disabled>...</button>
			{% endif %}
	        <!--fin puntos suspensivos cuando son muchas paginas para mostrar-->   
	       	
			<!--pagina anterior si es que tiene y no esta cerca de la primera pagina-->
	        {% if proveedores.number > 2 and proveedores.has_previous%}
	            <a class="btn btn-outline-primary" href="?page={{ proveedores.previous_page_number }}">{{ proveedores.previous_page_number }}</a>
	        {% endif %}
			<!--fin pagina anterior si es que tiene y no esta cerca de la primera pagina-->

			<!--pagina actual-->
	        <span class="current">
	            <a role="button" class="btn btn-primary btn-lg active" aria-pressed="true" href="?page={{ proveedores.number }}">{{ proveedores.number }}</a>
	        </span>
			<!--fin pagina actual-->

			<!--pagina siguiente si tiene y no esta cerca de la ultima pagina-->
	        {% if proveedores.has_next and proveedores.number < proveedores.paginator.num_pages|sub:"1" %}
	            <a class="btn btn-outline-primary" href="?page={{ proveedores.next_page_number }}">{{ proveedores.next_page_number }}</a>
	        {% endif %}
			<!--fin pagina siguiente si tiene y no esta cerca de la ultima pagina-->
			
			<!--puntos suspensivos cuando son muchas paginas para mostrar--> 
			{% if proveedores.paginator.num_pages > 3 and proveedores.paginator.num_pages|sub:proveedores.number > 2 %}
				<button class="btn btn-outline-primary" disabled>...</button>
			{% endif %}
	        <!--fin puntos suspensivos cuando son muchas paginas para mostrar--> 

			<!--ultima pagina-->
	    	{% if proveedores.number != proveedores.paginator.num_pages %}
	            <a role="button" class="btn btn-outline-primary" href="?page={{ proveedores.paginator.num_pages }}">{{ proveedores.paginator.num_pages }}</a>
	    	{% endif %}
	        <!--ultima pagina-->
	    </span>
	</div>

{% endblock %}