{% for proveedor in proveedores %}
    {# Each "contact" is a Contact model object. #}
    {{ proveedor.nombre }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if proveedores.has_previous %}
            <a href="?page={{ proveedores.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ proveedores.number }} of {{ proveedores.paginator.num_pages }}.
        </span>

        {% if proveedores.has_next %}
            <a href="?page={{ proveedores.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>