{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'productos/includes/productos_menu.html' %}
<main role="main">
  <div class="container mb-4">
    
    <!--TABLA PRODUCTOS-->
    <table class="table" style="margin-top: 3em;">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Stock</th>
            <th scope="col">Stock Mínimo</th>
            <th scope="col">Costo</th>
            <th scope="col">Precio Minorista</th>
            <th scope="col">Precio Mayorista</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for producto in producto_list|dictsort:"idProducto" reversed %}
              <tr>
              <td>{{ producto.nombre}}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.stock_minimo }}</td>
              <td>{{ producto.costo }}</td>
          <td>{{ producto.precio_minorista }}</td>
          <td>{{ producto.precio_mayorista }}</td>
              <td>
                <a class="btn btn-default" href="{% url 'productos:editar' producto.idProducto %}">editar</a>
              </td>
              <td><a class="btn btn-default" href="#">
                <img src="#" style="width: 10%;">borrar</a>
              </td>
  
              </tr>
          
      {% endfor %}
      </tbody>
      </table><!--
      <div class="row mt-3">
        <div class="col">
          <p>{{producto.nombre}}</p>
          
          <div>
            <p>{{producto.descripcion|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="#">Leer más</a>
              
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              
            
          </div>-->
  </div>
</main>
{% endblock %}
